body,h2,div,a{
    font-family: '微软雅黑';
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.kv_tit{
    height: 40px;
	background:url(../images/tit_bg.jpg) repeat-y #dcdcdc;
    line-height: 40px;
    padding-left: 20px;
}
.kv_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding:10px;
    width: 100%; }
.kv_index_f1_btn1{
    height: 90px;
    float: left;
    background: #37d4a7;
    border-radius: 6px;
}
.kv_index_f1_btn2{
    height: 90px;
    float: right;
    background: url("../images/2bg.jpg") repeat;
    border-radius: 6px;
}
.kv_index_f1_btn3{
    height: 100px;
    width: 100%;
    background: #f67480;
    border-radius: 6px;
}

.col-49 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 49%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    max-width: 49%; }

.col-offset-2 {
    margin-left:2%; }
.kv_item,.kv_item1{
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    padding: 16px;
    border-width: 1px; }
.kv_item1{
    margin-top: 2px;
}
.kv_item>img:first-child {
    position: absolute;
    top: 16px;
    left: 5px;
    max-width:44px;
    max-height:44px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.kv_item h2,.kv_item p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 40px;
    color: #fff;
}
.kv_item h2{
    font-size: 16px;
}
.kv_item p{
    font-size: 12px;
}

.kv_item1>img:first-child {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width:68px;
    max-height:68px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.kv_item1 h2,.kv_item1 p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 80px;
    color: #fff;
}
.kv_item1 h2{
    font-size: 24px;
    padding-top: 10px;
}
.kv_item1 p{
    font-size: 14px;
}

/***order_list**/
.per_box{height: 100px;
padding: 20px;
background: #fff;}
.per_box img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    border:2px #015AFF solid;
}
.per_box h2{
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    padding-left: 80px;
}
.per_box p{
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    padding-left: 80px;}
ul.per_main{
    margin:20px 0 0 0;
    background: #fff;
}
ul.per_main li{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px #eee solid;
    padding: 0 20px;

}
ul.cart_main{
    margin:20px 0 0 0;
    background: #fff;
}
ul.cart_main li{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px #eee solid;
    padding: 0 10px 0 20px;

}
.cart_tit{
    font-size: 18px;
    padding-right: 10px;
}
.y_price,.c_y_j{
    text-decoration: line-through;
    color: #999;
    padding-right: 10px;
    font-size: 14px;
}
.y_price{
    margin-top: 6px;
}
.price{
    color: #2ebe80;
    padding-right: 10px;
    font-size: 14px;
}
.price_red{
    color: #FF0202;
    padding-right: 10px;
    font-size: 14px;
}
.kv_icon{
    font-size: 24px;
    padding: 8px 10px 0 0;
    display: block;
    float: left;
    line-height: 24px;
}
.kv_icon .icon{
    color: #015AFF;
}
.kv_txt{
    line-height: 20px;
}
.per_box_l{
    border-radius: 4px 0 0 4px;
    background: #015AFF;
    color: #fff;
    width: 80px;
    font-size: 14px;
    padding: 4px 10px;
}
.per_box_r{
    border-radius: 0 4px 4px 0;
    background: #fff;
    color: #015AFF;
    border: #015AFF 1px solid;    
    box-sizing: border-box;
    width: 80px;
    font-size: 14px;
    padding: 3px 10px;
    margin-left: -5px;
}
.per_box_cz{
    background: #FEA12A;
    color: #fff;
    height: 26px;
    line-height: 26px;
    margin: 7px 10px 0 0;
    width: 60px;
    border-radius: 4px;
    text-align: center;
    display: block;
    font-size: 14px;
    float: right;
}
.per_box_del{
    background: #ED552E;
    color: #fff;
    height: 26px;
    line-height: 26px;
    margin: 7px 10px 0 0;
    width: 60px;
    border-radius: 4px;
    text-align: center;
    display: block;
    font-size: 14px;
    float: right;
}
.btn_red{
    background: #ED552E;
    color: #fff;
    height: 32px;
    line-height: 32px;
    margin: 7px 10px 0 0;
    width: 60px;
    border-radius: 4px;
    text-align: center;
    display: block;
    font-size: 14px;
    float: right;
}
.box_r{
    width: 100px;
    float: right;
    height: 30px;
    display: block;
    padding-top: 15px;
}
.box_r2{
    width: 100px;
    float: right;
    height: 30px;
    display: block;
    padding-top: 8px;
}
.box_r_l,.box_r_r{
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #eee;
    float: left;
    border: 1px #ccc solid;
}
.box_r_l{
    border-right: none;
}
.box_r_r{
    border-left: none;
}
.box_r_c{
    width: 60px;
    height: 30px;
    float: left;
    padding: 0;
    background: #c00;
}
.box_inp{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: #ccc 1px solid;
    text-align: center;
    display: block;
}
.cart_txt{
    height: 60px;
    line-height: 60px;
}

.cart_txtr{
    height: 60px;
    float: right;
    line-height: 60px;
    color: #f00;
    display: inline-block;
}
.cart_txtr_date{

    height: 60px;
    float: right;
    line-height: 60px;
    color: #999;
    display: inline-block;
}
.cart_txt_x{
    font-size: 14px;
}
.kv-ion-social-buffer{
    font-size: 22px;
    color: #e94371;
}
.kv-ion-clock{
    font-size: 22px;
    color: #46a8ef;
}
.kv-ion-ios-location-outline{
    font-size: 22px;
    padding-top: 4px;
    color: #30B55C;
}
.kv-ion-document-text{
    font-size: 22px;
    color: #015AFF;
}
.kv-ion-android-textsms{
    font-size: 22px;
    color: #FE0000;
}
.kv-ion-ios-color-filter{
    color: #12B911;
    font-size: 22px;
}
.kv-ion-ios-bookmarks{
    font-size: 22px;
    color: #F67378;
}
.kv-ion-ios-pricetag{
    font-size: 22px;
    color: #F7AD2A;

}
.kv-ion-ios-paper{
    font-size: 22px;
    color: #F7AD2A;
}
.kv-ion-coffee{
    font-size: 22px;
    color: #52C7C1;
}
.kv-icon{
    display: inline-block;
    float: left;
    width: 30px;
    padding: 17px 10px 0 0;
    line-height: 30px;
}

.kv_item-thumbnail-left{
    min-height: 160px;
    padding: 0 10px}
.kv_item-thumbnail-left a{
    height: 160px;
    width: 100%;
    display: block;
    position: relative;
}
.kv_item-thumbnail-left a>img{
    float: left;
    max-width: 140px;
    max-height: 140px;
    margin-top: 10px;
}
.kv_item-thumbnail-left > img:first-child,
.kv_item-thumbnail-left .item-image,
.kv_item-thumbnail-left .item-content > img:first-child,
.kv_item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 140px;
    max-height: 140px;
    width: 100%;
    height: 140%; }

.item-avatar.item-complex,
.item-avatar-left.item-complex,
.kv_item-thumbnail-left.item-complex {
    padding-top: 0;
    padding-left: 0; }
.kv_item-thumbnail-left h2{
    padding:  10px 0 0 10px;
    overflow: hidden;
    line-height: 24px;
    height: 30px;
    box-sizing: content-box;
    white-space: pre-wrap;
}
.btn1_r{
    height: 26px;
    line-height: 26px;
    display: inline-block;
    border-radius: 4px;
    font-size: 10px;
    color: #fff;
    padding: 0 10px;
    background: #E5144B;
    margin:0 0 8px 10px;
}
.kv_item-thumbnail-left p{
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
}
p.price{
    color: #D60228;
    font-weight: bold;
    padding-top: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.pro_btn{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.pro_btn i{
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #888;
}
.kv_pop{
    width: 90%;
    height: 200px;
    margin: 0 auto;
}
.kv_pop .popover-arrow{
    display: none;
}
.kv_pop ion-content{
    background: #ccc;
    width: 90%;
    margin: 0 auto;
    height: 50%;
    margin-top: 20%;
}
.kv_pop ion-header-bar{
    background-color: rgba(0,0,0,.4);
    height: 100%;
}
.kv_pop ion-header-bar{
    display: none;
}
.kv_box{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background-color: rgba(0,0,0,.4);
}
.kv_tc{
    width: 90%;
    height: 260px;
    margin: 180px auto 0 auto;
    background: #fff;
    border-radius: 6px;
}
#kv_tc_ul .item {
    background: none;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-style: none;
}
.kv_tc>div.btn_box{
    line-height: 40px;
    height: 40px;
    width: 80%;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}
div.btn_box>div.tc_btn_r{
    line-height: 40px;
    height: 40px;
    width: 40%;
    text-align: center;
    background: #E33113;
    color: #fff;
    display: block;
    float: right;
    border-radius: 4px;
}
div.btn_box>div.tc_btn_l{
    line-height: 40px;
    height: 40px;
    width: 40%;
    text-align: center;
    background: #FFC900;
    color: #fff;
    display: block;
    float: left;
    border-radius: 4px;
}
ul#kv_tc_ul{
    margin-bottom: 0;

}
a.kv_ion-android-menu,a.kv_ion-ios-search-strong,a.kv_ion-ios-cart{
    position: absolute;
}
a.kv_ion-ios-search-strong{
    right: 50px;
}
a.kv_ion-ios-cart{
    right: 10px;
}

a.kv_ion-android-menu:before,a.kv_ion-ios-search-strong:before,a.kv_ion-ios-cart:before{
    font-size:30px;
    color: #fff;
}
.e_box {
    height: 100px;
}
.e_box_c{
    width: 49%;
    display: block;
    box-sizing: border-box;
    padding-left: 14px;
    float: left;
}
.e_box_c img{
    float: left;
}
.e_box_c_text{
    width: 96px;
    padding:4px 0 0 14px;
    height: 60px;
    float: left;
}
.e_box_c_text h2{
    font-size: 18px;
}
.e_box_c_text span{
    font-size: 10px;
    font-family: Arial;
    color: #ccc;
}
.bar_nav{
    height: 40px;
    background: #090;
    width: 100%;
}
.kv_has-header{
    top: 95px;
}
.tabs.tabs-stable.product-background{
    background: #F1EFF0;
}
.product_has-header{
    top: 140px;
}
.kv_active{
    color: #12B911;
    font-weight: bold;
    border-bottom: 1px #12B911 solid;
}
.tabs-stable a span{
    color: #900;
    font-size: 10px;
    font-family: Arial;
    padding-left: 4px;
}
.kv_tabs .tab-item{
    max-width: none;
    font-size: 14px;
}
.kv_tabs a{
    background:#387ef5;
    color: #fff;  opacity: 1;
    font-weight: bold;
    font-family: '微软雅黑';
}
.kv_tabs a.kv_tabs_active{
    color: #387EF5;
    font-weight: bold;
    font-family: '微软雅黑';
    background: #fff;
    border-bottom: 1px #387EF5 solid;
}

.bar.bar-positive .title{
    font-family: '微软雅黑';
}
.bar a.kv_ion-android-menu{
    width: 20px;
    display: block;
    z-index: 100;
}

.cz_tip{
    display: inline-block;
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
    box-sizing: content-box;
    padding: 0 8px;
    font-size: 12px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
}
.item-radio .radio-icon.kv_radio_icon{
    display: block;
}
.cz_tip_r{
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #886aea;
}

span.pro_info{
    line-height: 24px;
    display: block;
    height: 50px;
    font-size: 14px;
    color: #999;
    padding: 0 0 0 140px;
    white-space: pre;
}